<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <import resource="classpath:/META-INF/opal/context-config.xml" />
  <import resource="classpath:spring/opal-core/context.xml" />
  <import resource="classpath:/META-INF/opal/repository.xml" />
  <import resource="classpath:repositories.xml" />

</beans>
