# OBiBa/Opal systemd service file

[Unit]
Description=OBiBa Opal service

[Service]
WorkingDirectory=/var/lib/opal
EnvironmentFile=/etc/default/opal
User=opal
LimitNOFILE=16384
StandardOutput=file:/var/log/opal/stdout.log
StandardError=file:/var/log/opal/stderr.log
ExecStartPre=/bin/bash -c 'systemctl set-environment OPAL_DIST=$(readlink -f /usr/share/opal)'
ExecStart=/usr/bin/java $JAVA_ARGS -cp "${OPAL_HOME}/conf:${OPAL_DIST}/lib/*" -DOPAL_HOME=${OPAL_HOME} -DOPAL_DIST=${OPAL_DIST} -DOPAL_LOG=${OPAL_LOG} org.obiba.opal.server.OpalServer $OPAL_ARGS

[Install]
WantedBy=network-online.target
