<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <encoder>
      <pattern>%date - %-5level - %logger - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="opal" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${OPAL_LOG}/opal.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>opal-%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date - %-5level - %logger:%line - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="datashield" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${OPAL_LOG}/datashield.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>datashield-%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date - %-5level - %logger - %message%n</pattern>
    </encoder>
  </appender>

  <appender name="rest" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${OPAL_LOG}/rest.log</file>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>rest-%i.log</fileNamePattern>
      <maxIndex>10</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>10MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date - %level - %message%n</pattern>
    </encoder>
  </appender>

  <logger name="datashield" additivity="false" level="info">
    <appender-ref ref="datashield"/>
  </logger>

  <logger name="org.obiba.opal.web.security.AuditInterceptor" additivity="false" level="info">
    <appender-ref ref="rest"/>
  </logger>

  <!--Uncomment the following line to see copy progress-->
  <!--<logger name="org.obiba.magma.support.DatasourceCopier" level="debug"/>-->

  <!--hide verbose dependencies-->
  <logger name="jetty.util.log" level="error"/>
  <logger name="org.hibernate.stat.Statistics" level="warn"/>

  <!--Uncomment this to enable SQL statement logging-->
  <!--<logger name="org.hibernate.SQL" level="debug"/>-->

  <!--Uncomment this to show the values used for replacement in Hibernate's prepared statements-->
  <!--<logger name="org.hibernate.type" level="debug"/>-->

  <!--dev-->
  <!--<logger name="org.obiba" level="debug"/>-->
  <!--<logger name="org.obiba.magma.security" level="info"/>-->
  <!--<logger name="org.obiba.opal.web.security" level="info"/>-->
  <!--<logger name="org.obiba.opal.server.httpd" level="info"/>-->
  <!--<logger name="org.obiba.opal.search.IndexSynchronizationManager" level="info"/>-->

  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="opal"/>
  </root>

</configuration>