<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean" />

  <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
    <property name="userTransaction">
      <ref local="jotm" />
    </property>
    <!-- No need to set "transactionManager" property since the jotm bean implements both interfaces and Spring's JtaTransactionManager will detect this. -->
  </bean>

  <tx:annotation-driven transaction-manager="transactionManager" />

  <import resource="hibernate-services.xml" />
  
  <bean id="onyxImportService" class="org.obiba.opal.core.service.impl.DefaultOnyxImportServiceImpl">
    <property name="participantKeyReadRegistry" ref="participantKeyRegistry" />
    <property name="participantKeyWriteRegistry" ref="participantKeyRegistry" />
    <!--  
    <property name="keyStoreResource" value="/home/tdebat/data/opal-keys/opal.jks" />
    -->
    <property name="keyStoreResource" value="${org.obiba.opal.keystore.file}" />
  </bean>
  
  <bean id="participantIdentifier" class="org.obiba.opal.core.domain.participant.identifier.impl.DefaultParticipantIdentifierImpl">
  </bean>
  
  <!-- 
  <import resource="data-import.xml" />
  -->
</beans>
