<!--
  ~ Copyright (c) 2019 OBiBa. All rights reserved.
  ~
  ~ This program and the accompanying materials
  ~ are made available under the terms of the GNU Public License v3.0.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

  <context:annotation-config/>

  <context:component-scan base-package="org.obiba">
    <context:exclude-filter type="regex" expression="org.obiba.opal.install"/>
    <context:exclude-filter type="regex" expression="org.obiba.opal.upgrade"/>
  </context:component-scan>

  <import resource="tx.xml"/>
  <import resource="version.xml"/>
  <import resource="quartz.xml"/>
  <import resource="email.xml"/>

  <bean class="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor"/>

  <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

  <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
    <property name="cacheManagerName" value="opal"/>
    <property name="configLocation" value="classpath:ehcache.xml"/>
    <property name="shared" value="true"/>
  </bean>

</beans>
