// app global css in SCSS form
a {
  color: #3f3f3f;
  text-decoration: underline;
  background-color: transparent;
}

a.q-btn {
  line-height: 2em;
}

.q-tab-panel {
  padding: 1em 0 1em 0;
}

code {
  color: crimson;
  background-color: lightgray;
  font-size: smaller;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.q-card.o-card {
  width: 250px;
}
