// app global css in SCSS form
a {
  color: $primary;
  text-decoration: none;
  background-color: transparent;
}

a.q-btn {
  line-height: 2em;
}

.q-tab-panel {
  padding: 1em 0 1em 0;
}

code {
  color: crimson;
  background-color: lightgray;
  font-size: smaller;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.q-card.o-card {
  width: 250px;
}

.text-help {
  color: $grey-6;
}

.table-values {
  /* specifying max-width so the example can
    highlight the sticky column on any browser window */
  //max-width: 600px;

  thead tr:first-child th:first-child {
    /* bg color is important for th; just specify one */
    background-color: $grey-1;
  }

  td:first-child {
    background-color: $grey-3;
  }

  th:first-child,
  td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
  }
}
