// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #007bff;
$secondary: #6c757d;
$accent: #dd4b39;

$dark: #161d31;
$dark-page: #121212;

$positive: #28a745;
$negative: #dc3545;
$info: #17a2b8;
$warning: #ffc107;
