@import "opal-gwt.css";
@import "opal-bootstrap.css";

h1 {
  font-size: 1.8em;
}

li {
  list-style-type: none;
}

/*
 * Pretty print
 */
.container pre.prettyprint {
  border: 1px dashed #CCCCCC;
  padding: 10px;
  margin-bottom: 0;
}

/*
 * Opal
 */

.tags .label {
  margin-right: 10px;
}

.items .item {
  margin-bottom: 30px;
}

.xsmall-indent {
  margin-left: 0.4em;
}

.small-indent {
  margin-left: 0.8em;
}

.indent {
  margin-left: 1.6em;
}

.large-indent {
  margin-left: 2.4em;
}

.xsmall-dual-indent {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.xsmall-right-indent {
  margin-right: 0.4em;
}

.small-dual-indent {
  margin-left: 0.8em;
  margin-right: 0.8em;
}

.dual-indent {
  margin-left: 1.6em;
  margin-right: 1.6em;
}

.large-dual-indent {
  margin-left: 2.4em;
  margin-right: 2.4em;
}

.no-top-margin {
  margin-top: 0;
}

.small-top-margin {
  margin-top: 0.4em;
}

.top-margin {
  margin-top: 0.8em;
}

.large-top-margin {
  margin-top: 1.2em;
}

.small-bottom-margin {
  margin-bottom: 0.4em;
}

.bottom-margin {
  margin-bottom: 0.8em;
}

.large-bottom-margin {
  margin-bottom: 1.2em;
}

.extra-large-bottom-margin {
  margin-bottom: 3.2em;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

  /* Suggest list box */

ul.closeables {
  float: left;
  margin-bottom: 0;
  margin-left: 0;
}

  /* Truncate labels depending on screen resolution */
ul.closeables li {
  float: left;
  list-style: none outside none;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  margin-left: 4px;
  padding: 0px 6px;
  background-color: #999999;
  color: #FFFFFF;
  font-weight: bold;
  vertical-align: baseline;
  white-space: nowrap;
  line-height: 14px;
  font-size: 1.1em;
}

  /* Truncate labels depending on screen resolution */
ul.closeables li span {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

@media all and (max-width: 1189px) {
  ul.closeables li {
    max-width: 80px;
  }
}

@media all and (max-width: 1529px) and (min-width: 1190px) {
  ul.closeables li {
    max-width: 150px;
  }
}

@media all and (min-width:1530px) {
  ul.closeables li {
    max-width: 250px;
  }
}

@media all and (max-width: 1189px) {
  ul.closeables li span {
    max-width: 54px;
  }
}

@media all and (max-width: 1529px) and (min-width: 1190px) {
  ul.closeables li span {
    max-width: 124px;
  }
}

@media all and (min-width:1530px) {
  ul.closeables li span {
    max-width: 234px;
  }
}

ul.closeables li.focus, ul.closeables li.focus .label {
  background: #d4d4d4;
}

ul.closeables li a {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

.obiba-SuggestListBox {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.obiba-SuggestListBox > div {
  margin: 0;
  padding: 0;
}

.obiba-SuggestListBox input {
  border: none;
  box-shadow: none;
  margin: 0px 0px 0px 4px;
  padding: 0px;
}

  /* Width is dependent of screen resolution */
@media all and (max-width: 1189px) {
  .obiba-SuggestListBox input {
    width: 130px;
  }
}

@media all and (max-width: 1529px)and (min-width: 1190px) {
  .obiba-SuggestListBox input {
    width: 250px;
  }
}

@media all and (min-width:1530px) {
  .obiba-SuggestListBox input {
    width: 475px;
  }
}

.obiba-SuggestListBox input:focus {
  border: none;
  box-shadow: none;
}

div.obiba-SuggestListBox {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  display: inline-block;
  padding-right: 4px;
  vertical-align: middle;
}

.textbox-clearable-anchor {
  color: #666;
}

.obiba-SuggestListBox.pull-left.navbar-search {
  margin-top: 8px;
  padding-top: 2px;
}

/*
 * Properties Table
 */
.property-key {
  font-weight: bold;
}

/*
 * Ace editor
 */
.ace-editor {
  height: 200px;
  border: 1px solid #DDD;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  margin-bottom: 5px;
}

