/* An example of customized style with black flavor */

body {
  background: #EEE;
}

.login {
  color: #111;
}

.login > table {
  border-color: #111;
  background-color: #F3F4EB;
}

.topbar {
  background: -moz-linear-gradient(top, #1e5799 0, #222 0, #111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #222), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #1e5799 0, #222 0, #111 100%);
  background: -o-linear-gradient(top, #1e5799 0, #222 0, #111 100%);
  background: -ms-linear-gradient(top, #1e5799 0, #222 0, #111 100%);
  background: linear-gradient(top, #1e5799 0, #222 0, #111 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#222', endColorstr = '#111', GradientType = 0);
}

.topbar span, .topbar a, .topbar a:hover {
  color: #CCCCCC;
}

.top .gwt-MenuBar-horizontal {
  margin-left: 0px;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem.selected, .top .gwt-MenuBar-horizontal .gwt-MenuItem.gwt-MenuItem-selected.selected {
  background-color: #6E4A2B;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem.gwt-MenuItem-selected {
  background-color: #111
}

.main-content {
  border: none;
  margin: 0 0 0;
  -moz-border-radius: 0em;
  -webkit-border-radius: 0em;
}

.workbench div.top, .footbar {
  background: -moz-linear-gradient(top, #1E5799 0pt, #FEFFF6 0pt, #E5E6DD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e5799), color-stop(0%, #FEFFF6), color-stop(100%, #E5E6DD));
  background: -webkit-linear-gradient(top, #1e5799 0, #FEFFF6 0, #E5E6DD 100%);
  background: -o-linear-gradient(top, #1e5799 0, #FEFFF6 0, #E5E6DD 100%);
  background: -ms-linear-gradient(top, #1e5799 0, #FEFFF6 0, #E5E6DD 100%);
  background: linear-gradient(top, #1e5799 0, #FEFFF6 0, #E5E6DD 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#FEFFF6', endColorstr = '#E5E6DD', GradientType = 0);
  color: #111;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.gwt-TabLayoutPanelTab-selected {
  background-color: #111;
}

.tooltip.gwt-PopupPanel {
  border: 0.2em solid #111;
}

.footbar {
  border-top: 1px solid #B4A291;
  margin-left: 0px;
  padding-left: 0.8em;
  padding-right: 0.8em;
}

.footbar a {
  color: #111;
}