.cellTableWidget {
  border-bottom: 1px solid #B4A291;
}

.cellTableLastColumnFooter{}
.cellTableFirstColumnFooter{}
.cellTableLastColumnHeader{}
.cellTableLoading{}

.cellTableHeader {
  background-color: #F3F4EB;
  padding: 4px 15px;
  border-top: 1px solid #B4A291;
  border-bottom: 1px solid #B4A291;
  color: #333333;
  -moz-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  -webkit-text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.cellTableFirstColumnHeader{}

.cellTableFooter{
  border-top: 1px solid #B4A291;
}

.cellTableOddRow{
  background-color: #EEEEEE;
}

.cellTableOddRow .cellTableFirstColumn  {
  background-color: #DDDDDD;
}

.cellTableEvenRow{
  background-color: #FFFFFF;
}

.cellTableEvenRow .cellTableFirstColumn {
  background-color: #EEEEEE;
}

.cellTableHoveredRow{}

.cellTableSelectedRow, .cellTableSelectedRow .cellTableFirstColumn, .cellTableSelectedRow a {
  background-color: #B4A291;
  color: #FFFFFF;
}

.cellTableSelectedRow a {
  color: #FFFFFF;
}

.cellTableSelectedRow .iconb:before {
  color: #DCDCDC;
}

.cellTableCell{
  padding: 4px 15px;
  height: 20px;
}

.cellTableFirstColumn{}
.cellTableLastColumn{}

.cellTableWidget{}

.cellTableSelectedRowCell{}

.cellTableHoveredRowCell{}

.cellTableOddRowCell{}

.cellTableKeyboardSelectedRowCell{}

 .cellTableEvenRowCell{}
 
 .cellTableKeyboardSelectedCell{}
 
 .cellTableKeyboardSelectedRow{}

/* Specific tables */

.folder-details .cellTableHeader {
  border-top: none;
}

.selection-list .cellTableEvenRow .cellTableFirstColumn, .selection-list .cellTableOddRow .cellTableFirstColumn {
  background-color: #ffffff;
}

.selection-list .cellTableSelectedRow .cellTableFirstColumn {
  background-color: #B1B1B1;
}

.cellTableSortedHeaderAscending{}
.cellTableSortedHeaderDescending{}
.cellTableSortableHeader{
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}

