.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.gwt-TabLayoutPanelTab-selected {
	background-color: #003366;
}

.login > table {
	 border-color: #003366;
}

.topbar {
	background-color: #003366;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem.selected {
	background-color: #003366;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem.gwt-MenuItem-selected {
	background-color: #bfd3e3;
}

.main-content {
	border-color: #003366;
}

.workbench .top {
    background-color:#bfd3e3;
    color:#444444;
}