/* Corner radius */
.ui-corner-tl { -moz-border-radius-topleft: 0.5em; -webkit-border-top-left-radius: 0.5em; }
.ui-corner-tr { -moz-border-radius-topright: 0.5em; -webkit-border-top-right-radius: 0.5em; }
.ui-corner-bl { -moz-border-radius-bottomleft: 0.5em; -webkit-border-bottom-left-radius: 0.5em; }
.ui-corner-br { -moz-border-radius-bottomright: 0.5em; -webkit-border-bottom-right-radius: 0.5em; }
.ui-corner-top { -moz-border-radius-topleft: 0.5em; -webkit-border-top-left-radius: 0.5em; -moz-border-radius-topright: 0.5em; -webkit-border-top-right-radius: 0.5em; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 0.5em; -webkit-border-bottom-left-radius: 0.5em; -moz-border-radius-bottomright: 0.5em; -webkit-border-bottom-right-radius: 0.5em; }
.ui-corner-right {  -moz-border-radius-topright: 0.5em; -webkit-border-top-right-radius: 0.5em; -moz-border-radius-bottomright: 0.5em; -webkit-border-bottom-right-radius: 0.5em; }
.ui-corner-left { -moz-border-radius-topleft: 0.5em; -webkit-border-top-left-radius: 0.5em; -moz-border-radius-bottomleft: 0.5em; -webkit-border-bottom-left-radius: 0.5em; }
.ui-corner-all { -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; }

/* General */

body {
  text-align: left;
  background: url(image/background_tile.png) repeat;
  font-family: arial, verdana, sans-serif;
  font-size:12px;
  overflow: hidden;
  height: 100%;
}

a, a:visited, a:hover {
	color:#000000;
}

a:hover {
	cursor: pointer;
	text-decoration:underline;
}

.clickable:hover {
  cursor: pointer;
}

.right-aligned {
  float: right;
}

.left-aligned {
  float: left;
}

.small-indent {
	margin-left: 10px;
}

.indent {
	margin-left: 20px;
}

.large-indent {
	margin-left: 30px;
}

.full-width {
	width: 100%;	
}

.not-so-full-width {
	width: 95%;	
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.small-top-margin {
  margin-top: 10px;
}

.top-margin {
  margin-top: 20px;
}

.large-top-margin {
  margin-top: 30px;
}

.loading {
	display: block;
	margin: auto;	
}

.title {
  font-size: 1.3em;
}

.title-bold {
  font-weight: bold;
  color: #444444;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding-top:3px;
	padding-bottom:5px;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	background-color: transparent;
}

.gwt-MenuBar-vertical .gwt-MenuItem.gwt-MenuItem-selected .subMenuItem-selected {
	background-color: #feede0;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
	background:none repeat scroll 0 0 #888888;
	color: #ffffff;
	font-weight:normal;
	-moz-border-radius-topleft: 0.5em; -webkit-border-top-left-radius: 0.5em; 
	-moz-border-radius-topright: 0.5em; -webkit-border-top-right-radius: 0.5em;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab.gwt-TabLayoutPanelTab-selected {
	background:none repeat scroll 0 0 #C65F00;
	font-weight:normal;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border-color:#BBBBBB;
	border-width:1px 0 0 1px;
}

.gwt-SplitLayoutPanel-HDragger {
	background-color: #B4A291;
}

/* Popup */ 

.gwt-PopupPanel {
	border:5px solid #DDDDDD;
	-moz-border-radius: 0.5em; -webkit-border-radius: 0.5em;
}

.notification {
	border:5px solid #222222;
	background-color: #222222;
	opacity: 0.9;
	color:#ffffff;
	-moz-border-radius: 0.5em; -webkit-border-radius: 0.5em;
	float:right;
}

.notification.error {
	border-color:#8d0000;
	background-color: #8d0000;
}

.notification .header {
	font-weight:bold;
}

.notification a, .notification a:visited, .notification a:hover {
    color:#ffffff;
    text-decoration: none;
}

/* DialogBox */

.gwt-DialogBox .Caption {
	border-top:5px solid #DDDDDD;
}

.gwt-DialogBox .dialogMiddleCenter {
	padding:0px;
}

.gwt-DialogBox .dialogContent .main {
	padding:10px;
}

.gwt-DialogBox .dialogContent .footer {
	background-color:#ECE5DE;
	border-top:1px solid #B4A291;
}

.gwt-DialogBox .dialogContent .footer .gwt-Button {
	margin-right:10px;
}

.gwt-DialogBox .dialogContent .footer span {
	margin-left:10px;
}

/* CellTable */

.tableList .selected {
	background-color:#DEBB9D;
	color: #000000;
}

/* .GEO005SGB {
	background-color:#DEBB9D;
	color: #000000;
}

.GEO005SP {
	border-bottom:1px solid #6F7277;
	font-weight: normal;
}*/

/* Login */

.login {
	 position:absolute; 
	 top:50%; 
	 left:50%;	 
}

.login > table {
	 border: 3px solid #c65f00;
	 background-color: #ffffff;	 
	 -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em;
	 padding: 1em;
	 position:absolute; 
	 top:-6em; 
	 left:-12.5em; 
	 width:30em; 
	 height:12em;
}

/* Network Notification */ 

.network-notification .title {
	font-weight: bold; 
	font-size:1.2em;
}

.network-notification .message {
	color: black; 
	font-style:italic;
}

/* Top */

.topbar {
	background-color: #c65f00;
}

.topbar > .gwt-Label {
	color:#FFFFFF;
display:inline;
font-size:1.5em;
font-weight:bold;
margin-left:10px;
}

.topbar a:hover {
	cursor: pointer;
}

.topbar img {
	margin-left: 10px;
	padding-top: 0.3em;
}

.topbar a {
    margin-right: 10px;
    float: right;
    padding-top: 0.6em;
}

.topbar a, .topbar a:visited, .topbar a:hover {
	color:#ffffff;
}

.top .gwt-MenuBar table {
	border-spacing:10px 0;
}

.top .gwt-MenuBar-horizontal {
	background: transparent;
	border: 0px;
	margin-left:40px;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem {
	background-color: #888888;
	color: #cccccc;
	-moz-border-radius-bottomleft: 0.5em; -webkit-border-bottom-left-radius: 0.5em; 
	-moz-border-radius-bottomright: 0.5em; -webkit-border-bottom-right-radius: 0.5em;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem.selected {
	background-color: #c65f00;
	color: #ffffff;
}

.top .gwt-MenuBar-horizontal .gwt-MenuItem.gwt-MenuItem-selected {
	background-color: #d78f4e;
	color: #ffffff;
}

/* Foot */

.footbar {
	font-size:0.9em;
	margin-left: 50px;
}

.footbar .gwt-Label {
	display: inline;
	margin-right: 5px;
}

.footbar a {
	color: #000000;
}

/* Content */

.main-content {
	background-color: #ffffff;
	margin:10px 50px 0px 50px;
	border:3px solid #C65F00;
}

/* Workbench */

.workbench .top {
    padding: 0.5em 0 0 1em;
    float: left;
    background:#D78F4E;
    border-bottom:1px solid #B4A291;
    color:#ffffff;
}

.workbench .top .header {
    float: left;
    margin-right:20px;
}

.workbench .top .header .title {
	font-size:1.2em;
	font-weight:bold;
}
  
.workbench .top .summary { 
    margin-top:0.25em;
}
    
.workbench .top .control {
    /*padding: 0.5em;*/
    float: left;
}
    
.workbench .top .control button {
    margin-left: 10px;
    font-size: 0.9em;
    padding:2px 5px;
}

.workbench .main {
}

.workbench .main .title {
    font-weight: bold;
    font-size: 1em;
}

.workbench .main .p {
     padding: 10px;
}

.workbench .information .header {
	color:#444444;
	font-weight:bold;
	height: 2em;
	background:url("gwt/standard/images/hborder.png") repeat-x scroll 0 -2003px #E3E8F3;
	border-bottom:1px solid #B4A291;
}

.workbench .information .header .gwt-Label {
	padding-left:5px;
	padding-top:5px;
}

.workbench .information .header img {
  cursor:pointer;
  padding-top: 5px;
  margin-right: 5px;
}

.workbench .information .header .gwt-MenuItem {
  cursor:default;
  padding-top: 5px;
}

.workbench .information .content {
  margin: 5px;
}

.workbench .information .title {
  font-weight: bold;
  font-size: 1em;
}

/* Dashboard */

.dashboard {
  padding: 0.5em 0 0 1em;
}

.dashboard .gwt-Label.title {
  font-weight: normal;
}

.dashboard div {
  margin-top:10px;
}

.dashboard .gwt-Label {
  font-weight: bold;
  display: inline;
}

.dashboard .gwt-Label.count {
  font-weight: normal;
}

.dashboard #shortcuts a:hover {
  text-decoration: none;
}

.dashboard #shortcuts a img {
  margin-right: 10px;
}

.dashboard #shortcuts a {
  font-weight: bold;
  color: #000000;
}

/* Variable browser */

.gwt-Tree .magma-datasource .gwt-TreeItem {
	background:transparent url(image/16/bundle.png) no-repeat scroll left center;
	padding-left:20px;
}

.gwt-Tree .magma-table .gwt-TreeItem {
	background:transparent url(image/16/table.png) no-repeat scroll left center;
	padding-left:20px;
}

.gwt-Tree .magma-view .gwt-TreeItem {
	background:transparent url(image/16/view.png) no-repeat scroll left center;
	padding-left:20px;
}

/*.gwt-Tree .selected {
	background-color: #bb5500;	
}

.gwt-Tree .magma-datasource.selected div {
	background-color: #ffffff;	
}

.gwt-Tree .magma-datasource.selected div.gwt-TreeItem-selected {
	background-color: #bb5500;	
}*/

.gwt-Tree .gwt-TreeItem-selected {
	font-weight: bold;
	/*color: #ffffff;*/
}

.navigator .titlebar {
	background-color:#ECE5DE;
	color:#444444;
    padding-bottom:3px;
    padding-left:10px;
    padding-top:3px;
}

.navigator .titlebar div {
	display:inline;
}

.navigator .titlebar .title {
	font-weight:bold;
	font-size:1.2em;
}

.navigator .toolbar {
  	background-color:#ECE5DE;
  	border-bottom:1px solid #B4A291;
  	padding-bottom:5px;
  	padding-left:10px;
  	margin-bottom:5px;
}

.navigator .toolbar-right img {
	margin-left: 5px;
    float: right;
}

.navigator  .toolbar-left img {
    margin-right: 5px;
    float: left;
}

.navigator  .toolbar img:hover {
    cursor: pointer;
}

.navigator .toolbar a:hover {
    cursor: pointer;
}

.navigator .gwt-MenuBar {
	background:transparent;
	border:0 none;
}

.navigator .gwt-MenuBar-horizontal .gwt-MenuItem {
	color:#666666;
	font-weight:bold;
	padding:0px;
	vertical-align:bottom;
}

.navigator .gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	padding-right:5px;
}

.navigator .gwt-MenuBar-horizontal .gwt-MenuItem-selected {
		
}

.gwt-MenuItem.tools {
	background:url("image/20/tools.png") no-repeat scroll left center transparent;
	height: 20px;
	width:25px;
}

.gwt-MenuItem.add {
	background:url("image/20/add-item.png") no-repeat scroll left center transparent;
	height: 20px;
	width:25px;
}

.gwt-MenuItem.edit {
	background:url("image/20/edit.png") no-repeat scroll left center transparent;
	height: 20px;
	width:25px;
}

.navigator .gwt-MenuItem.next {
	background:url("image/20/next.png") no-repeat scroll left center transparent;
	height: 20px;
	width:25px;
}

.navigator .gwt-MenuItem.next.disabled {
	background:url("image/20/next-disabled.png") no-repeat scroll left center transparent;
}

.navigator .gwt-MenuItem.previous {
	background:url("image/20/previous.png") no-repeat scroll left center transparent;
	height: 20px;
	width:25px;
}

.navigator .gwt-MenuItem.previous.disabled {
	background:url("image/20/previous-disabled.png") no-repeat scroll left center transparent;
}

.navigator .gwt-MenuItem.parent {
	background:url("image/20/up.png") no-repeat scroll left center transparent;
	height: 20px;
	width:25px;
}

.navigator .gwt-MenuItem.parent.disabled {
	background:url("image/20/up-disabled.png") no-repeat scroll left center transparent;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	color:#535353;
}

.navigator .tableList td:first-child  {
      text-decoration: underline;
}

.navigator .tableList td:first-child:hover {
    cursor: pointer;
}

.navigator .tableList .title-bold {
    margin-top: 10px;
}

/* File Explorer Styles */ 
 
table.folder-details td:first-child span:hover {
  cursor: pointer;
}

.folder-details .folder {
	background:transparent url(image/16/folder.png) no-repeat scroll left center;
	padding-left:20px;
}

.folder-details .file {
	background:transparent url(image/16/document.png) no-repeat scroll left center;
	padding-left:20px;
}

.gwt-Tree .folder .gwt-TreeItem {
	background:transparent url(image/16/folder.png) no-repeat scroll left center;
	padding-left:20px;
}

.gwt-Tree .folder.expanded > table .gwt-TreeItem {
	background:transparent url(image/16/folder-visiting.png) no-repeat scroll left center;
	padding-left:20px;
}

/* Menu bar */ 

.gwt-MenuBar .gwt-MenuItem {
  cursor:pointer;
}


/* Import variables */ 

.tableChangesPanel .tabs li {
	padding-left:10px;
}

.tableChangesPanel .tabs.horizontal li {
	padding-left:0;
}

a.table.conflict, a.table.conflict:visited, a.table.conflict:hover {
	background:transparent url(image/16/error.png) no-repeat scroll left center;
	height:18px;
	padding-left:20px;
}

a.table.creation, a.table.creation:visited, a.table.creation:hover {
	background:transparent url(image/16/list-add.png) no-repeat scroll left center;
	height:18px;
	padding-left:20px;
}

a.table.modification, a.table.modification:visited, a.table.modification:hover {
	background:transparent url(image/16/edit.png) no-repeat scroll left center;
	height:18px;
	padding-left:20px;
}

div.variableChanges {
  height:100%;
}

table.variableChangesDetails {
  width:100%;
}

table.variableChangesDetailsVert table.variableChangesDetails tr > td  {
  text-align:left; 
}

div.variableChangesPager tr > td {
  text-align:right;
  white-space:nowrap;
  width:100%;
}

div.ignoreAllModifications {
  padding:0px 10px 10px;
}

div.ignoreAllModifications > span > label {
  padding-left:10px;
}

div.variableChangesSummaryPanel > div {
  margin-bottom:5px;
  margin-top:5px;
}

div.variableChanges {
  margin-top:10px;
}

div.gwt-TabLayoutPanel.tableChangesPanel div.gwt-TabLayoutPanelTabs {
  width:100% !important;
}

div.variableChangesSummaryPanel > div > em {
  font-style:normal; 
  margin:5px;
  color:red;
}

/* Script test UI */ 

div.evaluateScriptPanel {
  width:100%;
  text-align:right;
}

.resultsPanel {
  width:100%;
}

.resultsPanel table.content {
  border-left-style:none;
  margin-left:0px;
}

.evaluateScriptPanel div.paging {
  padding-top:10px;
  padding-bottom:10px;
}

.evaluateScriptPanel div.pagingInfo {
  display:inline;
  float:left;
}

.evaluateScriptPanel div.pagingInfo .gwt-Label {
  display:inline;
}

.evaluateScriptPanel div.pagingActions {
  display:inline;
  width:20%;  
}

/* List-Details UI */

table.selection-list {
  width:100%;
}

table.item-properties input.text  {
  width:100%;
}

table.item-properties td {
  vertical-align:top;
}

table.item-properties div.key {
  display:inline;
  vertical-align:top;
  color: #444444;
}
 
.item-details .titlebar {
	background-color:#ECE5DE;
	color:#444444;
    padding-bottom:3px;
    padding-left:10px;
    padding-top:3px;
}

.item-details div.gwt-Label.title {
	font-weight:bold;
	font-size:1.2em;
	color: #444444;
}

.item-details .toolbar {
  	background-color:#ECE5DE;
  	border-bottom:1px solid #B4A291;
  	padding-bottom:5px;
  	padding-left:10px;
  	margin-bottom:5px;
}

.item-details .toolbar-right img {
	margin-left: 5px;
    float: right;
}

.item-details  .toolbar-left img {
    margin-right: 5px;
    float: left;
}

.item-details  .toolbar img:hover {
    cursor: pointer;
}

.item-details .toolbar a:hover {
    cursor: pointer;
}

.item-details .gwt-MenuBar {
	background:transparent;
	border:0 none;
}

.item-details .gwt-MenuBar-horizontal .gwt-MenuItem {
	color:#666666;
	font-weight:bold;
	padding:0px;
	vertical-align:bottom;
}

.item-details .gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	padding-right:5px;
}

.item-details .gwt-MenuBar-horizontal .gwt-MenuItem-selected {
		
}

/* Reports UI */ 

.producedReports table td span {
  padding-right:20px;
  cursor:pointer;
}

.producedReports {
  padding-left:20px;
}

/* ItemSelector and ItemInputs */

table.itemSelector {
  border-spacing: 0;
}

table.itemSelector tr + tr td {
  background-color: #E5E5E5;
}

table.itemSelector .button {
  margin-left: 5px;
  margin-right: 5px;
}

.itemInput {
  margin-bottom: 2px;
}

.itemInput.keyValue span + span { /* second span containing the "=" */
  margin-left: 10px;
  margin-right: 10px;
}

.itemInput.keyValue span + span + span {
  margin-left: 0;
  margin-right: 0;
}

.addDerivedVariablesDialog input.gwt-TextBox, .addDerivedVariablesDialog input.gwt-SuggestBox {
  width:250px;
}

/* VariablesListTab */

div.variablesListTabContent .navigationPanel {
  border-bottom: 1px solid #6F7277;
  margin-top: 25px;
  padding-bottom: 10px;
}

div.variablesListTabContent .form {
  margin-top: 10px;
}

div.variablesListTabContent .pager {
  clear: left;
}

div.variablesListTabContent .form table {
  width:95%;
}

div.variablesListTabContent td {
  vertical-align:top;
}

div.variablesListTabContent .gwt-Label {
  font-weight:bold;
}

.categoryDialog .labelPanel {
  margin-top: 10px;
}

/* Resize Handles */

.resizable-handle.resizable-se {
	cursor:se-resize;
    display:block;
    float:right;
    height:16px;
    position:relative;
    width:16px;
    background-image: url(image/256x240_icons.png);
    background-position:-84px -224px;
}

.resizable-handle.resizable-s {
	cursor:s-resize;
    display:block;
}

/* Wizard */

.wizard .p {
    padding-top: 10px;
    padding-bottom: 10px;     
}

.wizard .step > div.title {
	font-weight: bold;
	margin-bottom: 10px;
  	color: #444444;
  	font-size: 1em;
}

.wizard .resizable-handle.resizable-se {
    top:2em;
}

.wizard .footer .help {
	margin-left: 10px;
}

.wizard.progress, .wizard.progress .gwt-Button {
	cursor: wait;
}

/* Tooltip */

.tooltip {
	color: #ffffff;
}

.tooltip.gwt-PopupPanel {
	border:3px solid #444444;
	-moz-border-radius: 0 0 0 0;
	padding: 0;
}

.tooltip .header {
	background-color: #666666;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
}

.tooltip .header a, .tooltip .header a:visited, .tooltip .header a:hover {
	color: #ffffff;
	text-decoration: none;
}

.tooltip .content {
	background-color: #888888;
	padding: 5px 5px 0 5px;
}

.tooltip .footer {
	background-color: #888888;
}

/* Vertical/Horizontal tabs */

ul.vertical {
  float:left;
  margin-right:-0.083em;
  position:relative;
  min-width:8em;
}

ul.tabs {
  list-style-type:none;
  margin:0;
  padding:0;
  z-index:5;
}

ul.vertical li {
  margin:-0.083em 0 0;
}

ul.tabs li {
  background-color:#F0F0F0;
  border:0.083em solid #BBBBBB;
  display:block;
  margin:-0.083em -0.07em 0 0;
  padding:0;
}

ul.tabs.horizontal li {
  margin-left: 0.8em;
  float: left;
  border-bottom:none;
  padding-bottom:0.3em;
  padding-left:0.4em;
  padding-right:0.4em;
}

ul.tabs li a {
  color:#535353;
}

ul.tabs li.active {
  background-color:#FFFFFF;
}

ul.tabs li.active a {
  color:#000000;
}

ul.vertical li.first {
  margin-top:1em;
}

ul.vertical li.active {
  background-color:#FFFFFF;
  border-right:medium none;
  margin-left:-0.5em;
}

ul.tabs li a, ul.tabs li a:visited, ul.tabs li a:hover {
  display:block;
  font-weight:700;
  text-decoration:none;
  overflow:hidden;
  padding:0.4em 0.5em 0.2em;
  white-space:nowrap;
}

.vertical-tabs > .content, .horizontal-tabs > .content {
  -moz-border-radius:0.4em 0.4em 0.4em 0.4em;
  background-color:#FFFFFF;
  border:1px solid #BBBBBB;
  position:relative;
  overflow-x:auto;
  padding: 10px;
}

.vertical-tabs > .content {
  min-height:100px;
}

.horizontal-tabs > .content {
  clear: left;
}