
.lastColumnFooter{}
.firstColumnFooter{}
.lastColumnHeader{}
.loading{}



.header {
	background-color: #F3F4EB;
	padding: 4px 15px;
	border-top: 1px solid #B4A291;
	border-bottom: 1px solid #B4A291;
	color: #333333;
}

.firstColumnHeader{}

.footer{}

.oddRow{
	background-color: #EEEEEE;
}

.oddRow .firstColumn  {
	background-color: #DDDDDD;
}

.evenRow{
	background-color: #FFFFFF;
}

.evenRow .firstColumn {
	background-color: #EEEEEE;
}

.hoveredRow{}

.selectedRow, .selectedRow .firstColumn {
	background-color: #B1B1B1;
    color: #ffffff;
}

.cellTable{}

.cell{
	padding: 4px 15px;
}

.firstColumn{}
.lastColumn{}

/* Specific tables */

.folder-details .header {
	border-top: none;
}

.selection-list .evenRow .firstColumn, .selection-list .oddRow .firstColumn {
	background-color: #ffffff;
}

.selection-list .selectedRow .firstColumn {
	background-color: #B1B1B1;
}