Source: opal
Section: devel
Priority: extra
Maintainer: OBiBa <info@obiba.org>
Build-Depends: debhelper (>= 7.0.15)
Standards-Version: 3.8.4
Homepage: http://www.obiba.org

Package: opal
Architecture: all
Pre-Depends: debconf, coreutils (>= 6.10)
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, psmisc, java6-runtime
Suggests: mysql-server, r-cran-rserve
Description: Data integration Web application for biobanks
 Opal is a data integration and warehousing Web application for biobanks.
