Source: opal
Section: devel
Priority: extra
Maintainer: OBiBa <info@obiba.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.obiba.org

Package: opal
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, adduser, psmisc, java6-runtime
Description: Data integration application for biobanks
 Opal is a data integration and warehousing application for biobanks.